
<%= form_tag({action: 'login'}, class: 'form-signin', method: 'post') do %>

    <h2 class="form-signin-heading">Login do Usuário</h2>
    <input type="text" name="username"
        class="form-control" placeholder="Seu nome" required autofocus>
    <input type="password"  name="password"
        class="form-control" placeholder="Sua senha" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>

<% end %>