<!doctype html>

<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" 
          content="width=device-width, initial-scale=1">
    <title>Biblioteca de Músicas</title>
</head>
<body>
    
    <h1>Biblioteca de Músicas</h1>

    <a href="/upload">Upload de músicas</a>
    
    <a href="/musicas">Músicas disponíveis</a>

</body>
</html>