<!doctype html>

<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" 
          content="width=device-width, initial-scale=1">
    <title>Músicas</title>
</head>
<body>
    
    <a href="/">Home</a>

    <h1>Músicas</h1>

    <% if @mensagem %>
        <strong>
            <%= @mensagem %>
        </strong>
    <% end %>

    <form>
        <label>Ordem
            <select name="ordem"
                onchange="this.form.submit()">
                <option>
                    upload
                </option>
<option <%= 'selected' if @ordem == 'A-Z' %>>
    A-Z
</option>
<option <%= 'selected' if @ordem == 'Z-A' %>>
    Z-A
</option>
            </select>
        </label>        
        
    </form>

    <ul>
    <% for musica in @musicas %>
        <li>
        <%= musica.nome %>        
        </li>
    <% end %>
    </ul>

</body>
</html>