<!doctype html>
<!-- doctype=html5 -->
<html lang="pt-br">
<head>
    <!--<meta charset="ISO-8859-1">-->
    <meta charset="utf-8">
    <meta name="description" content="introducao ao ruby/sinatra">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rede Social Sem Nome</title>
</head>
<body>
    
    <h1>Rede Social Sem Nome</h1>

    <a href="/registro_1">Registre-se</a>

</body>
</html>