<!doctype html>
<!-- doctype=html5 -->
<html lang="pt-br">
<head>
    <!--<meta charset="ISO-8859-1">-->
    <meta charset="utf-8">
    <meta name="description" content="introducao ao ruby/sinatra">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rede Social Sem Nome</title>
</head>
<body>
    
    <h1>Registre-se</h1>

    <h2>1ª Etapa</h2>

    <form method="post" action="/registro_2">
        <label>Nome:</label>
        <input type="text" name="nome">
        <br>
        <label>Idade:</label>
        <input type="text" name="idade">
        <br>
        <label>E-mail:</label>
        <input type="text" name="email">
        <br>
        <input type="submit" value="Próxima">
    </form>

</body>
</html>