<h2>Nova</h2>

<form method="post" role="form">
    
    <div class="form-group">
        <input class="form-control"
        type="text" name="titulo" maxlength="30"
        placeholder="Título da Tarefa">
    </div>

    <div class="form-group">
        <label>Descrição:</label>
        <textarea name="descricao" 
        class="form-control" rows="4" cols="30"></textarea>
    </div>

    <div class="form-group">
        <label>Prioridade:</label>
        <select name="prioridade" class="form-control">
            <option>Baixa</option>
            <option selected>Normal</option>
            <option>Urgente</option>
        </select>
    </div>

    <input type="submit" value="Salvar">
</form>