<!doctype html>
<!-- doctype=html5 -->
<html lang="pt-br">
<head>
    <!--<meta charset="ISO-8859-1">-->
    <meta charset="utf-8">
    <meta name="description" content="introducao ao ruby/sinatra">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Contatos</title>
</head>
<body>
    
    <h1>Contatos</h1>

    <a href="/">Home</a>
    <a href="/contatos/novo">Novo contato</a>
    <a href="/contatos/lista">Lista contatos</a>

</body>
</html>