<!doctype html>
<!-- doctype=html5 -->
<html lang="pt-br">
<head>
    <!--<meta charset="ISO-8859-1">-->
    <meta charset="utf-8">
    <meta name="description" content="introducao ao ruby/sinatra">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Exclui Contato</title>
</head>
<body>
    
    <h1>Exclui Contato</h1>  

    <form method="post">
        <label>
            Deseja realmente excluir <%=@codigo%>?
        </label>
        <button name="confirma" value="nao">Não</button>
        <button name="confirma" value="sim">Sim</button>
    </form>

</body>
</html>