<!doctype html>
<!-- doctype=html5 -->
<html lang="pt-br">
<head>
    <!--<meta charset="ISO-8859-1">-->
    <meta charset="utf-8">
    <meta name="description" content="introducao ao ruby/sinatra">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Introdução ao Ruby/Sinatra</title>
</head>
<body>
    
    <h1>Introdução ao Ruby/Sinatra</h1>

    <a href="/contatos">Contatos</a>

</body>
</html>